@use '../../styles/variables.scss' as *;

.container {
  width: 100%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.descriptionContainer {
  flex-grow: 1;
  height: 100%;
  border-radius: 20px;
  padding: 2vw 5vw;
  .title {
    font-size: 3vw;
  }
  .text {
    font-size: $font-medium;
  }
  .imageBox {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    img {
      height: 8vw;
      margin: 2vw;
    }
  }
}

.content {
  padding: 3.5vw;
  width: 100%;
  height: auto;
  background-color: $divider-3;
  color: $text-primary;
  .title {
    font-size: 3.5vw;
    width: 100%;
    margin: 10px;
  }
  .imageBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.topDivider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    opacity: 0.89;
  }

  .fill {
    fill: $divider-3;
  }
}

.botDivider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    opacity: 0.89;
  }
  .fill {
    fill: $divider-3;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .botDivider svg {
    width: calc(117% + 1.3px);
    height: 90px;
  }
  .topDivider svg {
    width: calc(117% + 1.3px);
    height: 90px;
  }
  .descriptionContainer {
    padding: 2vw;
  }
  .descriptionContainer .text {
    font-size: 3vw;
  }
  .content {
    .imageBox {
      flex-wrap: nowrap;
      overflow: auto;
    }
  }
}
