// Colors
$primary: red;
$secondary: blue;

// Text
// $text-primary: #63585E;
$text-primary: #493B2A;
$text-secondary: black;

// $divider-1: #63585E;
$divider-1: #F2CD5D;
$divider-2: #70A9A1;
$divider-3: #8D86C9;

// Background
$layer-0: #63585E;
$layer-1: grey;
$layer-2: #F2E9E4;
