// Colors
$primary: red;
$secondary: blue;

// Text
// $text-primary: #63585E;
$text-primary: #493b2a;
$text-secondary: black;

// $divider-1: #63585E;
$divider-1: #f2cd5d;
// $divider-2: #70a9a1;
$divider-2: rgba(112, 169, 161, 0.8);
// $divider-3: #8d86c9;
$divider-3: rgba(141, 134, 201, 0.8);

// Background
$layer-0: #63585e;
$layer-1: grey;
$layer-2: #f2e9e4;

$font-medium: 1.7vw;
